<%= render :partial => "menu" %>
<h1>User</h1>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="user">
	<thead> 
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Time Zone</th>
			<th>Description</th>
			<th>Created at</th>
			<th>Followers</th>
			<th>Friends</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td><img src="<%=@user.profile_image_url%>" alt="Image"><br><%= @user.name %> (<%=@user.screen_name%>)</td>
			<td><%= @user.location %></td>
			<td><%= @user.time_zone %></td>
			<td><%= @user.description %></td>
			<td><%= string_2_date_formated(@user.created_at) %></td>
			<td><%= @user.followers_count %></td>
			<td><%= @user.friends_count %></td>
		</tr>
	</tbody> 
</table>

<h1>Timeline</h1>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="twitts">
	<thead>
		<tr>
			<th>Date</th>
			<th>Text</th>
		</tr>
	</thead>
	<tbody>
		<%@twitts.each do |twitt| %>
			
			<%
			image=nil
			if twitt.respond_to? "retweeted_status" and !twitt.retweeted_status.nil?
				image = twitt.retweeted_status.user.profile_image_url
			else
				image = twitt.user.profile_image_url
			end
			%>
			<tr>
				<td><%= string_2_date_formated(twitt.created_at) %></td>
				<td><span><img src="<%=image%>" alt="Image"></span><span><%= twitt.text %></span></td>
			</tr>
		<% end %>
	</tbody> 
</table>

<%= content_for :js do%>
$(document).ready(function() {
	$('#twitts').dataTable({
		"aaSorting": [],
		"aoColumns": [
			{ "sType": "date" },
			null
			]
		});
} );
<%end%>