<%= render :partial => "menu" %>
<h1>Followers</h1>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="followers">
	<thead> 
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Time Zone</th>
			<th>Description</th>
			<th>Created at</th>
			<th>Followers</th>
			<th>Friends</th>
		</tr>
	</thead>
	<tbody>
		<%@followers.each do |follower| %>
			<tr>
				<td><img src="<%=follower.profile_image_url%>" alt="Imagem"><br><%= follower.name %> (<%=follower.screen_name%>)</td>
				<td><%= follower.location %></td>
				<td><%= follower.time_zone %></td>
				<td><%= follower.description %></td>
				<td><%= string_2_date_formated(follower.created_at) %></td>
				<td><%= follower.followers_count %></td>
				<td><%= follower.friends_count %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br/>
<%= content_for :js do%>
$(document).ready(function() {
	$('#followers').dataTable({
		"aaSorting": [ [0,'asc']],
		"aoColumns": [
			null,
			null,
			null,
			null,
			{ "sType": "date" },
			null,
			null
			]
		});
} );
<%end%>