<%= render :partial => "menu" %>
<h1>Friends</h1>
<table cellpadding="0" cellspacing="0" border="0" class="display" id="friends">
	<thead> 
		<tr>
			<th>Name</th>
			<th>Location</th>
			<th>Time Zone</th>
			<th>Description</th>
			<th>Created at</th>
			<th>Followers</th>
			<th>Friends</th>
		</tr>
	</thead>
	<tbody>
		<%@friends.each do |friend| %>
			<tr>
				<td><img src="<%=friend.profile_image_url%>" alt="Imagem"><br><%= friend.name %> (<%=friend.screen_name%>)</td>
				<td><%= friend.location %></td>
				<td><%= friend.time_zone %></td>
				<td><%= friend.description %></td>
				<td><%= string_2_date_formated(friend.created_at) %></td>
				<td><%= friend.followers_count %></td>
				<td><%= friend.friends_count %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<br/>
<%= content_for :js do%>
$(document).ready(function() {
	$('#friends').dataTable({
		"aaSorting": [ [0,'asc']],
		"aoColumns": [
			null,
			null,
			null,
			null,
			{ "sType": "date" },
			null,
			null
			]
		});
} );
<%end%>